body 
{
 background-image: url("Fil.bmp");
 background-color: window; 
 background-repeat:repeat; 
 background-attachment: fixed; 
 padding-bottom: 10%; padding-top: 1.7em; padding-left: 10%; padding-right: 10%;
 font-family: Georgia, Lucida Grande, Verdana, Sans Serif;
 font-size:12.5pt; 
 color: #404040;
}
 
h2 a
{
border: 0px;
background:none;
padding: 0px;
} 
h2 a:hover
{
border: 0px;
border-bottom: 1px dotted #AC1614;
background:none;
}

a
 {
 border: 1px dotted #AC1614;
 color:#AC1614;
 background-color: #EAD7DB;
 padding-right: .5em;
 padding-left: .5em;
 text-decoration: none;
 }
 
a:hover
 {
 background-color: #ECDEE1;
 }
 
a:active
 {
 background-color: #DEC0C6;
 }
 
h1
 {
 font-size:48pt;
 font-family:Arial Black, Arial, Bitstrwam Vera Sans, Verdnana; 
 text-align: center;
 }
 
 h2
 {
 font-weight:bold;
 font-size:13.2pt;
 padding-left:1em;
 }
 
 div
 {
 border	: 2px solid white;
 outline: 2px solid #404040;
 background: #F5F4F2;
 padding: 2em; padding-top:.3em;
 text-align: justify;

 }
 
 div div
 {
 border: 1px dotted ThreeDShadow;
 background: #E7E7E3;
 outline:0px;
 margin:1em;
 }
 
.inline
{
border: none;
background: none;
padding: 0px;
margin: 0px;
}

.inline:hover
{
background: none;
border-bottom: 1px dotted;
}

 .copyright
 {
 font-size: 7pt;
 font-family: "verdana", sans-serif;
 color: black;
 text-align: center;
 margin: 2em 10% 1em 10%;
 padding: 1em;
 background: silver;
 border: 1px dotted gray;
 }